* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
body { font-family: Verdana;
font-size: 25px;
background-color: #fefae0;}
h2 { font-size: 1.5em;}
.giralda-de-sevilla { display: flex;
justify-content: center;
align-items: center;
padding: 0 0.5em;}
.giralda-de-sevilla img { 
max-width: 650px;
width: 100%;
height: auto;
}
figcaption { text-align: center; }
.search input{ display: flex;
justify-content: flex-start;
width: 300px;
height: 35px;
font-size: 1.5em;
padding: 10px;
margin-top: 20px;
border-radius: 5px;}
p { font-family: roman;}
.navbar{
    background-color: rgb(233, 90, 8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap; 
}
.logo{
    width: 100px;
    height: auto;
}
.navbar ul { padding: 0px;
margin: 0px;
background-color: hsl(20, 87%, 47%);
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 0px;}
.navbar li { float: none; }
.navbar a { text-decoration: none;
padding: 15px;
color: #fefae0; 
display: flex;
flex-direction: column;
text-align: center;
}
.navbar a:hover { background-color: hsl(0, 71%, 30%); }


@media (max-width: 768px){
    body {
    font-size: 18px;
    }
    .navbar {
    flex-direction: column;
    align-items: flex-start;
    }
    .navbar ul {
    flex-direction: column;
    width: 100%;
}
.navbar a {
    padding: 12px 15px;
    align-items: flex-start;
}
.giralda-de-sevilla img {
    max-width: 100%;
    padding-bottom: 20px; 
}
    .search input {     
    width: 100%;
}
h2 {
    font-size: 1em
}
}